{% extends "base.html" %}
{% load crispy_forms_tags %}
{% block extracss %}
	<link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/ol3/3.20.1/ol.css">
{% endblock %}
{% block extrahead%}
	{{form.media}}
{% endblock %}
{% block content %}
	<h2>Create Branch</h1>
	<form method="POST">
		{% csrf_token %}
		<div class="form-row">
			<div class="form-group col-md-6 mb-0">
				{{form.name|as_crispy_field}}
			</div>
		</div>
		<div class="form-row">
			<div class="form-group col-md-6 mb-0">
				{{form.image_facade|as_crispy_field}}
			</div>
		</div>
		<div class="form-row">
			<div class="form-group col-md-6 mb-0">
				{{form.personnels|as_crispy_field}}
			</div>
		</div>
		<div class="form-row">
			<div class="form-group col-md-6 mb-0">
				{{form.longitude|as_crispy_field}}
			</div>
			<div class="form-group col-md-6 mb-0">
				{{form.latitude|as_crispy_field}}
			</div>
		</div>
		<div class="form-row">
			{{form.location|as_crispy_field}}
		</div>
		<button type="submit" class="btn btn-primary submit-branch">Create</button>
	</form>
{% endblock %}